In [35]:
import pandas as pd, numpy as np, scipy as sp, matplotlib.pyplot as plt, seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [36]:
df=pd.read_csv('train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [37]:
target_col=df["SalePrice"].copy()

In [38]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [39]:
df_num=df.select_dtypes(include='number').copy()

In [40]:
df_num.isna().sum()

Id                 0
MSSubClass         0
LotFrontage      259
LotArea            0
OverallQual        0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
MasVnrArea         8
BsmtFinSF1         0
BsmtFinSF2         0
BsmtUnfSF          0
TotalBsmtSF        0
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
BsmtFullBath       0
BsmtHalfBath       0
FullBath           0
HalfBath           0
BedroomAbvGr       0
KitchenAbvGr       0
TotRmsAbvGrd       0
Fireplaces         0
GarageYrBlt       81
GarageCars         0
GarageArea         0
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
SalePrice          0
dtype: int64

In [41]:
df_num.dropna(inplace=True)

In [42]:
df_num.isna().sum()

Id               0
MSSubClass       0
LotFrontage      0
LotArea          0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
MasVnrArea       0
BsmtFinSF1       0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
TotRmsAbvGrd     0
Fireplaces       0
GarageYrBlt      0
GarageCars       0
GarageArea       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SalePrice        0
dtype: int64

In [43]:
df_num.duplicated().sum()

np.int64(0)

In [44]:
df_obj=df.select_dtypes(include='object').copy()
df_obj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 43 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSZoning       1460 non-null   object
 1   Street         1460 non-null   object
 2   Alley          91 non-null     object
 3   LotShape       1460 non-null   object
 4   LandContour    1460 non-null   object
 5   Utilities      1460 non-null   object
 6   LotConfig      1460 non-null   object
 7   LandSlope      1460 non-null   object
 8   Neighborhood   1460 non-null   object
 9   Condition1     1460 non-null   object
 10  Condition2     1460 non-null   object
 11  BldgType       1460 non-null   object
 12  HouseStyle     1460 non-null   object
 13  RoofStyle      1460 non-null   object
 14  RoofMatl       1460 non-null   object
 15  Exterior1st    1460 non-null   object
 16  Exterior2nd    1460 non-null   object
 17  MasVnrType     588 non-null    object
 18  ExterQual      1460 non-null   object
 19  ExterCond      1460 non-null   object
 20  Foundation     1460 non-null   object
 21  BsmtQual       1423 non-null   object
 22  BsmtCond       1423 non-null   object
 23  BsmtExposure   1422 non-null   object
 24  BsmtFinType1   1423 non-null   object
 25  BsmtFinType2   1422 non-null   object
 26  Heating        1460 non-null   object
 27  HeatingQC      1460 non-null   object
 28  CentralAir     1460 non-null   object
 29  Electrical     1459 non-null   object
 30  KitchenQual    1460 non-null   object
 31  Functional     1460 non-null   object
 32  FireplaceQu    770 non-null    object
 33  GarageType     1379 non-null   object
 34  GarageFinish   1379 non-null   object
 35  GarageQual     1379 non-null   object
 36  GarageCond     1379 non-null   object
 37  PavedDrive     1460 non-null   object
 38  PoolQC         7 non-null      object
 39  Fence          281 non-null    object
 40  MiscFeature    54 non-null     object
 41  SaleType       1460 non-null   object
 42  SaleCondition  1460 non-null   object
dtypes: object(43)
memory usage: 490.6+ KB

In [45]:
df_obj.fillna("other",inplace=True)

In [46]:

df_num.fillna(0,inplace=True)

In [47]:
df_num.isna().sum().sum()

np.int64(0)

In [48]:
df_num.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

In [49]:
df_num.nunique()

Id               1121
MSSubClass         15
LotFrontage       107
LotArea           817
OverallQual         9
OverallCond         8
YearBuilt         109
YearRemodAdd       61
MasVnrArea        282
BsmtFinSF1        524
BsmtFinSF2        108
BsmtUnfSF         678
TotalBsmtSF       623
1stFlrSF          656
2ndFlrSF          351
LowQualFinSF       15
GrLivArea         728
BsmtFullBath        3
BsmtHalfBath        3
FullBath            4
HalfBath            3
BedroomAbvGr        7
KitchenAbvGr        3
TotRmsAbvGrd       10
Fireplaces          4
GarageYrBlt        97
GarageCars          4
GarageArea        394
WoodDeckSF        222
OpenPorchSF       176
EnclosedPorch      99
3SsnPorch          16
ScreenPorch        63
PoolArea            7
MiscVal            17
MoSold             12
YrSold              5
SalePrice         570
dtype: int64

In [50]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
df_num_std=StandardScaler().fit_transform(df_num)

In [51]:
df_num_std

array([[-1.72580691,  0.09229529, -0.23357027, ..., -1.61534509,
         0.15308355,  0.27716076],
       [-1.72342925, -0.86569565,  0.38483378, ..., -0.49871497,
        -0.59629052, -0.04828893],
       [-1.72105159,  0.09229529, -0.10988946, ...,  0.99012519,
         0.15308355,  0.45796615],
       ...,
       [ 1.73844606,  0.33179303, -0.19234334, ..., -0.49871497,
         1.65183171,  0.97627492],
       [ 1.74082372, -0.86569565, -0.10988946, ..., -0.87092501,
         1.65183171, -0.52290307],
       [ 1.74320138, -0.86569565,  0.17869909, ..., -0.12650493,
         0.15308355, -0.45811447]], shape=(1121, 38))

In [52]:
df_num_std=pd.DataFrame(df_num_std,columns=df_num.columns)
df_num_std.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,-1.725807,0.092295,-0.233570,-0.205885,0.570704,-0.525499,0.992930,0.823953,0.462009,0.571581,...,-0.760257,0.231036,-0.356622,-0.11253,-0.278676,-0.072999,-0.141407,-1.615345,0.153084,0.277161
1,-1.723429,-0.865696,0.384834,-0.064358,-0.153825,2.284122,0.120665,-0.460746,-0.572748,1.152559,...,1.686090,-0.716739,-0.356622,-0.11253,-0.278676,-0.072999,-0.141407,-0.498715,-0.596291,-0.048289
2,-1.721052,0.092295,-0.109889,0.138702,0.570704,-0.525499,0.928317,0.776371,0.282510,0.101672,...,-0.760257,-0.064173,-0.356622,-0.11253,-0.278676,-0.072999,-0.141407,0.990125,0.153084,0.457966
3,-1.718674,0.331793,-0.439705,-0.070512,0.570704,-0.525499,-1.850006,-0.746235,-0.572748,-0.475034,...,-0.760257,-0.172934,4.083851,-0.11253,-0.278676,-0.072999,-0.141407,-1.615345,-1.345665,-0.548517
4,-1.716296,0.092295,0.549742,0.509132,1.295234,-0.525499,0.896011,0.681208,1.275032,0.462647,...,0.815913,0.588393,-0.356622,-0.11253,-0.278676,-0.072999,-0.141407,2.106755,0.153084,0.777389

In [53]:
df_num_mm=MinMaxScaler().fit_transform(df_num)

In [54]:
df_num_mm

array([[0.00000000e+00, 2.35294118e-01, 1.50684932e-01, ...,
        9.09090909e-02, 5.00000000e-01, 2.40644223e-01],
       [6.85400960e-04, 0.00000000e+00, 2.02054795e-01, ...,
        3.63636364e-01, 2.50000000e-01, 2.03128018e-01],
       [1.37080192e-03, 2.35294118e-01, 1.60958904e-01, ...,
        7.27272727e-01, 5.00000000e-01, 2.61486559e-01],
       ...,
       [9.98629198e-01, 2.94117647e-01, 1.54109589e-01, ...,
        3.63636364e-01, 1.00000000e+00, 3.21234589e-01],
       [9.99314599e-01, 0.00000000e+00, 1.60958904e-01, ...,
        2.72727273e-01, 1.00000000e+00, 1.48416886e-01],
       [1.00000000e+00, 0.00000000e+00, 1.84931507e-01, ...,
        4.54545455e-01, 5.00000000e-01, 1.55885389e-01]], shape=(1121, 38))

In [55]:
df_num_mm=pd.DataFrame(df_num_mm,columns=df_num.columns)
df_num_mm.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,0.000000,0.235294,0.150685,0.033420,0.625,0.428571,0.946154,0.883333,0.12250,0.125089,...,0.000000,0.111517,0.000000,0.0,0.0,0.0,0.0,0.090909,0.50,0.240644
1,0.000685,0.000000,0.202055,0.038795,0.500,0.857143,0.738462,0.433333,0.00000,0.173281,...,0.347725,0.000000,0.000000,0.0,0.0,0.0,0.0,0.363636,0.25,0.203128
2,0.001371,0.235294,0.160959,0.046507,0.625,0.428571,0.930769,0.866667,0.10125,0.086109,...,0.000000,0.076782,0.000000,0.0,0.0,0.0,0.0,0.727273,0.50,0.261487
3,0.002056,0.294118,0.133562,0.038561,0.625,0.428571,0.269231,0.333333,0.00000,0.038271,...,0.000000,0.063985,0.492754,0.0,0.0,0.0,0.0,0.090909,0.00,0.145464
4,0.002742,0.235294,0.215753,0.060576,0.750,0.428571,0.923077,0.833333,0.21875,0.116052,...,0.224037,0.153565,0.000000,0.0,0.0,0.0,0.0,1.000000,0.50,0.298308

In [56]:
df = pd.read_csv("train.csv")

In [57]:
def clean_data(df):
    df_num_cl = df.select_dtypes(include='number').columns.to_list()
    df[df_num_cl].fillna(0,inplace=True)
    df_obj_cl = df.select_dtypes(exclude='number').columns.to_list()
    df[df_obj_cl].fillna('other',inplace=True)
    return df

In [58]:
def normalize_data(df):
    num_cols = df.select_dtypes(include='number').columns
    scaler = MinMaxScaler()
    
    # Returns a new dataframe with scaled columns
    return df.assign(**{col: scaler.fit_transform(df[[col]]).flatten() for col in num_cols})

In [59]:
def encoding(df):
    df_obj_col = df.select_dtypes(include='object').columns.to_list()
    le = LabelEncoder()
    df[df_obj_col] = df[df_obj_col].apply(le.fit_transform)
    return df

In [60]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer

In [61]:
data_cleaning_pipeline = Pipeline([
    ('base_data_cleaning',FunctionTransformer(clean_data)),
    ('normalization',FunctionTransformer(normalize_data)),
    ('encoding',FunctionTransformer(encoding))
])

In [62]:
new_df = data_cleaning_pipeline.fit_transform(df)

C:\Users\USER\AppData\Local\Temp\ipykernel_6724\2793203238.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df_num_cl].fillna(0,inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_6724\2793203238.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df_obj_cl].fillna('other',inplace=True)

In [63]:
new_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0.000000,0.235294,3,0.150685,0.033420,1,2,3,3,0,...,0.0,3,4,4,0.0,0.090909,0.50,8,4,0.241078
1,0.000685,0.000000,3,0.202055,0.038795,1,2,3,3,0,...,0.0,3,4,4,0.0,0.363636,0.25,8,4,0.203583
2,0.001371,0.235294,3,0.160959,0.046507,1,2,0,3,0,...,0.0,3,4,4,0.0,0.727273,0.50,8,4,0.261908
3,0.002056,0.294118,3,0.133562,0.038561,1,2,0,3,0,...,0.0,3,4,4,0.0,0.090909,0.00,8,0,0.145952
4,0.002742,0.235294,3,0.215753,0.060576,1,2,0,3,0,...,0.0,3,4,4,0.0,1.000000,0.50,8,4,0.298709